* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

li {
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 20px;
  font-size: 18px;
}

h2 {
  font-size: 40px;
}

h1.time {
  float: right;
  margin-right: 40px;
  color: white;
}

header, footer {
  background-color: #ff00ff;
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%
}


#qDiv {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px;
  padding: 70px;
  border: 8px dashed #fa9cfa;
}

#score-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px;
  padding: 70px;
  border: 8px dashed #fa9cfa;
}

button {
  border-radius: 5px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  background-color: #fa9cfa;
  padding: 10px 40px;
}